* {
  box-sizing: border-box;
}


body {
  background-image: radial-gradient(circle at 100%,rgb(255, 42, 0),yellow);
  text-align: center;
  padding-top:10%;
  padding-bottom:10%;
}

input{
  background-color: orange;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.search-container {
  background-color: orange;
  position: relative;
  text-align: center;
  display: inline-block;
  

}
.search-container input,
.search-container .suggestions {
  background-color: orange;

}

ul {
  position: absolute;
  list-style-type: none;
  left:5%;
}

ul li {
  width:100%
}
ul li:hover {
  background-color: #ffffff80;
}

